/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/background.jpg'); /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the image fixed on scroll */
    background-repeat: no-repeat; /* Prevents tiling */
    color: #333;
  }
  
  .form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background:  rgba(255, 255, 255, 0.8);;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #34495e;
  }
  
  input, select, textarea, button {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;
  }
  
  input:focus, select:focus, textarea:focus {
    border-color: #3498db;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.3);
    outline: none;
  }
  
  button {
    background-color: #f78c50 ;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  textarea {
    resize: vertical;
  }
  
  #output {
    margin-top: 20px;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 5px;
    color: #34495e;
    text-align: left;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-container .field-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-container .field-group.inline {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
  
  .form-container .field-group.inline input {
    width: 48%;
  }
  