* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a3014;

}

.container {
    display: flex;
    max-width: 900px;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.login-form {
    flex: 1;
    padding: 40px;
}

.login-form h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.login-form p {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

.login-form p a {
    color: #f78c50;
    text-decoration: none;
}

form label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.extras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.extras a {
    color: #f78c50;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #f78c50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #e57b45;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.google-btn, .facebook-btn {
    width: 48%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
}

.google-btn:hover {
    background-color: #f2f2f2;
}

.facebook-btn:hover {
    background-color: #f2f2f2;
}

.illustration {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.illustration img {
    max-width: 100%;
    height: auto;
    display: flex;
}
.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.input-container input {
    width: 100%;
    padding: 12px 12px 12px 36px; /* Extra left padding for icon */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}